<div>
      <div ng-controller="tabCtrl"> <!-- Angular Controller for Tab Navigation -->
        <ul class="navTabs">
          <li><a href="" ng-click="sel=1; selectedTab('quiz')" id="quiz" class="activeTab">Quiz</a></li>
          <li><a href="" ng-click="sel=2; selectedTab('qadmin')" id="qadmin">Question Admin</a></li>
          <li><a href="" ng-click="sel=2; selectedTab('tbd')" id="tbd">TBD</a></li>
        </ul>
        <div ng-controller="quizCtrl" ng-show="sel == 1" id="quizTab"> <!-- Quiz Tab -->
          <h2>Quiz</h2>
          <div>
            <h3>Score: {{player.playerQuestionsCorrect}} / {{player.playerQuestionsAsked}}</h3>
            <div>
              <div>
                <label class="questionLabel">{{randomQuestion.question}}</label>
              </div>
            </div>
            <input ng-keyup="$event.keyCode == 13 ? getRandomQuestion(questions, userAnswer) : null" ng-model="userAnswer" type="text" placeholder="Answer" id="userAnswerBox"/>
            <button ng-click="getRandomQuestion(questions, userAnswer)" id="answerButton" type="button">Submit</button>
          </div>
        </div>
        <div ng-show="sel == 2" ng-controller="questionManagementCtrl" class="questionList" id="qAdminTab"> <!-- Question Admin Console Tab -->
          <h2>Questions</h2>
          <div class="add">
            <a href="" ng-click="addQuestion()">+ Add a New Question</a>
          </div>
          <div ng-repeat="question in questions | orderBy: 'number'" class="adminQuestionContainer">
            <label ng-hide="editing" class="questionNumber">Number: {{question.number}}</label>
            <label ng-show="editing" class="questionNumber">Number: </label>
            <input ng-show="editing" ng-model="question.number" class="questionNumber" type="text"/>
            <label ng-hide="editing" ng-model="editing" class="questionSubject">Subject: {{question.subject}}</label>
            <label ng-show="editing" ng-model="editing" class="questionSubject">Subject: </label>
            <select ng-show="editing" ng-model="question.subject" name="qSubejctList" class="questionSubject">
              <option value="AH">Arts and Humanities</option>
              <option value="LA">Language Arts</option>
              <option value="MA">Math</option>
              <option value="SC">Science</option>
              <option value="SS">Social Studies</option>
            </select><br>
            <label ng-hide="editing" class="question">Question: {{question.question}}</label>
            <label ng-show="editing" class="question">Question: </label>
            <input ng-show="editing" ng-model="question.question" class="question" type="text"/><br>
            <label ng-hide="editing" class="answer">Answer(s): {{question.answer}}</label>
            <label ng-show="editing" class="answer">Answer(s): </label>
            <input ng-show="editing" ng-model="question.answer" class="answer" type="text"/><br>
            <div class="actions">
              <ul>
                <li><a href="" ng-hide="editing" ng-click="editing = !editing">edit</a></li>
                <li><a href="" ng-show="editing" ng-click="saveQuestion(question); editing = !editing">save</a></li>
                <li id="deleteAction"><a href="" ng-click="deleteQuestion(question, $index)">delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
